<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffy.artist.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.luffy.artist.entity.SysDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_key" jdbcType="VARCHAR" property="typeKey" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="subtype_name" jdbcType="VARCHAR" property="subtypeName" />
    <result column="subtype_value" jdbcType="VARCHAR" property="subtypeValue" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_key, type_desc, subtype_name, subtype_value, sort, remark, update_date, 
    create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luffy.artist.entity.SysDict">
    insert into sys_dict (id, type_key, type_desc, 
      subtype_name, subtype_value, sort, 
      remark, update_date, create_date
      )
    values (#{id,jdbcType=INTEGER}, #{typeKey,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{subtypeName,jdbcType=VARCHAR}, #{subtypeValue,jdbcType=VARCHAR}, #{sort,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luffy.artist.entity.SysDict">
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeKey != null">
        type_key,
      </if>
      <if test="typeDesc != null">
        type_desc,
      </if>
      <if test="subtypeName != null">
        subtype_name,
      </if>
      <if test="subtypeValue != null">
        subtype_value,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeKey != null">
        #{typeKey,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="subtypeName != null">
        #{subtypeName,jdbcType=VARCHAR},
      </if>
      <if test="subtypeValue != null">
        #{subtypeValue,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luffy.artist.entity.SysDict">
    update sys_dict
    <set>
      <if test="typeKey != null">
        type_key = #{typeKey,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        type_desc = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="subtypeName != null">
        subtype_name = #{subtypeName,jdbcType=VARCHAR},
      </if>
      <if test="subtypeValue != null">
        subtype_value = #{subtypeValue,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luffy.artist.entity.SysDict">
    update sys_dict
    set type_key = #{typeKey,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR},
      subtype_name = #{subtypeName,jdbcType=VARCHAR},
      subtype_value = #{subtypeValue,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据类型键查询字典 -->
  <select id="selectByTypeKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    where type_key = #{typeKey,jdbcType=VARCHAR}
  </select>
</mapper>